apiVersion: v1
kind: ServiceAccount
metadata:
  name: brain-overflow-dev-service-account
  namespace: brain-overflow
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: brain-overflow
  name: brain-overflow-dev-role
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["create", "get", "list", "watch", "update", "delete", "patch"]
  - apiGroups: ["traefik.containo.us"]
    resources: ["ingressroutes", "middlewares"]
    verbs: ["create", "get", "list", "watch", "update", "delete", "patch"]
  - apiGroups: [""]
    resources: ["pods", "secrets", "services", "configmaps"]
    verbs: ["create", "get", "list", "watch", "update", "delete", "patch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: brain-overflow-dev-rolebinding
  namespace: brain-overflow
subjects:
  - kind: ServiceAccount
    name: brain-overflow-dev-service-account
    namespace: brain-overflow
roleRef:
  kind: Role
  name: brain-overflow-dev-role
  apiGroup: rbac.authorization.k8s.io
