@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: 기본 초기화 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
}

#root {
  height: 100%;
  width: 100%;
}
